<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TorgOrg.Properties.Settings.TorgOrgConnectionString"
            connectionString="Data Source=CAB-212A-07\SQLEXPRESS;Initial Catalog=TorgOrg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>